.cont{
    background-color:rgb(252, 249, 249);
    height: 50vh;
    padding-bottom: 20px;
    padding-top: 10px;


}

.buton{
    padding:5px;
    border: 1px solid red;
    color:rgb(21, 97, 240);
    box-shadow: 0 0 4px black;
    font-weight: bolder;
    margin-top: 5px;
}

.txf{
    background-color: antiquewhite;
}


@media only screen and (max-width:700px)
{
    .cont{
        background-color:lightcoral;
    }

    .buton{
        padding:5px;
        border: 1px solid rgb(219, 85, 44);
        color:rgb(1, 5, 14);
        box-shadow: 0 0 4px rgb(201, 5, 219);
        font-weight: bolder;
        margin-top: 5px;
    }
    
    

    
}