th{
   
    
    color: rgb(19, 17, 17);
    font-weight: 800;
}
tbody{
    background-color: #fafaf5ef;
}

Table{
    background-color: rgb(238, 215, 215);
    
}

h1{
    color: rgb(8, 0, 0);
    background-color: white
}

.data{
    background-color: rgb(214, 30, 30);
}


tr{
    color: rgb(12, 2, 2);
    
}



@media only screen and (max-width:700px)
{

    th{
        color: blue;
    }
    
}

